@import url(http://fonts.googleapis.com/css?family=Rambla:700);
/* line 18, ../sass/include/_buttons.scss */
.default {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 15px;
  background: #324860;
  border: none;
  color: white;
  text-decoration: none;
}
/* line 10, ../sass/include/_buttons.scss */
.default .x-button-label {
  padding: 10px 0;
}
/* line 13, ../sass/include/_buttons.scss */
.default.x-button-pressing {
  background: #212f3e;
}

/* line 22, ../sass/include/_buttons.scss */
.primary {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 15px;
  background: #00be9c;
  border: none;
  color: white;
  text-decoration: none;
}
/* line 10, ../sass/include/_buttons.scss */
.primary .x-button-label {
  padding: 10px 0;
}
/* line 13, ../sass/include/_buttons.scss */
.primary.x-button-pressing {
  background: #008b72;
}

/* line 26, ../sass/include/_buttons.scss */
.info {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 15px;
  background: #2c97de;
  border: none;
  color: white;
  text-decoration: none;
}
/* line 10, ../sass/include/_buttons.scss */
.info .x-button-label {
  padding: 10px 0;
}
/* line 13, ../sass/include/_buttons.scss */
.info.x-button-pressing {
  background: #1d7bba;
}

/* line 30, ../sass/include/_buttons.scss */
.danger {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 15px;
  background: #e94b35;
  border: none;
  color: white;
  text-decoration: none;
}
/* line 10, ../sass/include/_buttons.scss */
.danger .x-button-label {
  padding: 10px 0;
}
/* line 13, ../sass/include/_buttons.scss */
.danger.x-button-pressing {
  background: #d42e17;
}

/* line 1, ../sass/include/_tabs.scss */
.x-navigation {
  border: none;
  background: #fff;
}
/* line 4, ../sass/include/_tabs.scss */
.x-navigation .x-innerhtml {
  color: #f25260;
  font-size: 16px;
}

/* line 10, ../sass/include/_tabs.scss */
.x-toolbar {
  border: none;
  background: #8fced6;
}

/* line 15, ../sass/include/_tabs.scss */
.x-tab {
  min-width: 50%;
}

/* line 18, ../sass/include/_tabs.scss */
.x-tabbar-dark.x-docked-bottom .x-tab {
  text-shadow: none;
}

/* line 21, ../sass/include/_tabs.scss */
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before {
  color: #fff;
}

/* line 24, ../sass/include/_tabs.scss */
.x-tabbar-dark .x-tab {
  color: #2d5f73;
}

/* line 27, ../sass/include/_tabs.scss */
.x-tabbar.x-docked-bottom .x-tab {
  border-radius: 0;
  padding-top: 10px;
}

/* line 31, ../sass/include/_tabs.scss */
.x-tabbar-dark.x-docked-bottom .x-tab-active {
  background-color: #2d5f73;
}

/* line 1, ../sass/include/_titlebar.scss */
.x-tabbar {
  border: none;
  background: #324860;
}
/* line 4, ../sass/include/_titlebar.scss */
.x-tabbar .x-tab {
  background: none;
  border: none;
}
/* line 7, ../sass/include/_titlebar.scss */
.x-tabbar .x-tab .x-button-label {
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 13px;
}
/* line 14, ../sass/include/_titlebar.scss */
.x-tabbar .x-tab.x-tab-active .x-button-label {
  color: #02b99a;
}

/* line 1, ../sass/include/_style.scss */
.login-view {
  background-image: #eeeeee;
  /*
   * Logo
   */
  /**
   * Buttons
   */
}
/* line 7, ../sass/include/_style.scss */
.login-view .logo {
  background: transparent url("../images/logo.png") no-repeat center center;
  background-size: 156px 157px;
  width: 156px;
  height: 157px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 15, ../sass/include/_style.scss */
  .login-view .logo {
    background-image: url("../images/logo@2x.png");
  }
}
/* line 23, ../sass/include/_style.scss */
.login-view .login-btn {
  background: transparent url("../images/login.png") no-repeat center center;
  background-size: 200px 43px;
  width: 200px;
  height: 43px;
}
/* line 30, ../sass/include/_style.scss */
.login-view .signup-btn {
  background: transparent url("../images/signup.png") no-repeat center center;
  background-size: 200px 43px;
  width: 200px;
  height: 43px;
}
/* line 37, ../sass/include/_style.scss */
.login-view .help-line {
  border-top: 1px solid #819dc6;
  width: 3em;
  margin-bottom: 1em;
}
