.login-view {
    @include background-image(#eeeeee);
    
    /*
     * Logo
     */
    .logo {
        background: transparent url('../images/logo@2x.png') no-repeat center center;
        background-size: 200px 201px;
        width: 200px;
        height: 201px;
    }
    
    /*
     * Logo
     */
    .mobile-logo {
        background: transparent url('../images/logo.png') no-repeat center center;
        background-size: 110px 111px;
        width: 110px;
        height: 111px;
    }
    
    /**
     * Buttons
     */
    .login-btn {
        background: transparent url('../images/login.png') no-repeat center center;
        background-size: 170px 37px;
        width: 170px;
        height: 37px;
    }
    
    .signup-btn {
        background: transparent url('../images/signup.png') no-repeat center center;
        background-size: 170px 37px;
        width: 170px;
        height: 37px    ;
    }
    
    .help-line {
        border-top: 1px solid #819dc6;
        width: 3em;
        margin-bottom: 1em;
    }
}

/*----My podcast list----*/
.photo {
    float: left;
    margin: -9px 5px 0px -10px;
}

.music-toal {
    background: url("../images/music-icon.png") no-repeat scroll 0 0 transparent;
    color: #2D5F73;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 0 15px 0 3px;
    padding-left: 16px;
    height: 15px;
}

.video-toal {
    background: url("../images/video-icon.png") no-repeat scroll 0 0 transparent;
    color: #2D5F73;
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding-left: 15px;
}

.video-toal-white {
    background: url("../images/video-icon-white.png") no-repeat scroll 0 2px transparent;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 0 15px 0 2px;
    padding-left: 16px;
    height: 15px;
}

.music-toal-white {
    background: url("../images/music-icon-white.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 0 15px 0 2px;
    padding-left: 16px;
    height: 15px;
}

.calendar-white {
    background: url("../images/calendar-white.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding-left: 17px;
    height: 15px;
}

.unplayed-label, .unplayed-label-box{
    min-width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background: #f25260;
    padding: 5px;
    
    color: #fff;
    -webkit-box-shadow: -3px 3px 0px 0px rgba(48, 48, 48, 1);
    -moz-box-shadow: -3px 3px 0px 0px rgba(48, 48, 48, 1);
    box-shadow: -3px 3px 0px 0px rgba(48, 48, 48, 1);
}
.unplayed-label{
    margin: 3px;
}
.podcast-name{
    font-size: 14px;
    margin-bottom: 5px;
}
.x-list-normal .x-list-item.x-list-item-tpl, .x-list-normal .x-list-item .x-dock-horizontal{
    border-bottom: 2px solid #fff;
    border-top: none;
}
/*----My podcast box view----*/
.pview{
    position: relative;
    margin: 5px;
}
.shadow{
    -webkit-box-shadow: 0 2px 4px #777;
    -moz-box-shadow:0 2px 4px #777;
    box-shadow:0 2px 4px #777;
}
.unplayedlabel{
    text-align: left;
    margin-left: -5px;   
}

.x-button.x-button-back:before, .x-button.x-button-forward:before, .x-toolbar .x-button.x-button-back:before, .x-toolbar .x-button.x-button-forward:before{
    background: #8fced6;
  }
  .x-button, .x-button.x-button-back:after, .x-button.x-button-forward:after, .x-toolbar .x-button, .x-toolbar .x-button.x-button-back:after, .x-toolbar .x-button.x-button-forward:after{
    background: #8fced6;
  }
  .x-title{
    line-height: 21px;
  }
/*----Unplayed----*/
.music-icon-unplayed{
    background: transparent url('../images/music-icon-grey.png') no-repeat;
    width: 13px;
    height: 15px;
    float: left;
}
.music-date{
    margin: 0 15px 0 3px;
    color: #999;
    font-size: 11px;
    line-height: 15px;
    font-weight: bold;
    float: left;
}
.video-icon-grey{
    background: transparent url('../images/video-icon-grey.png') no-repeat;
    width: 13px;
    height: 12px;
    float: left;
}
.video-date{
    margin: -2px 15px 0 3px;
    color: #999;
    font-size: 11px;
    line-height: 15px;
    font-weight: bold;
    float: left;
}
.x-button-back.x-button.x-button-pressing, .x-button.x-button-pressing:after, .x-button.x-button-pressed, .x-button.x-button-pressed:after{
    background: #8FCED6;
}
.x-scroll-bar-y.active {
  width: 0px; /*CHANGE: replace width: 6px;*/
}
.player{
    background: transparent url('../images/play.png') no-repeat;
    width: 20px;
    height: 20px;
    float: left;      
}