.login-view {
    @include background-image(#eeeeee);
    
    /*
     * Logo
     */
    .logo {
        background: transparent url('../images/logo.png') no-repeat center center;
        background-size: 156px 157px;
        width: 156px;
        height: 157px;
    }
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .logo {
            background-image: url('../images/logo@2x.png');
        }
    }
    
    /**
     * Buttons
     */
    .login-btn {
        background: transparent url('../images/login.png') no-repeat center center;
        background-size: 200px 43px;
        width: 200px;
        height: 43px;
    }
    
    .signup-btn {
        background: transparent url('../images/signup.png') no-repeat center center;
        background-size: 200px 43px;
        width: 200px;
        height: 43px    ;
    }
    
    .help-line {
        border-top: 1px solid #819dc6;
        width: 3em;
        margin-bottom: 1em;
    }
}

/*----My podcast list----*/
.photo {
    float: left;
    margin: -9px 5px 0px -10px;
    -webkit-box-shadow: 0 2px 4px #777;
}
.pview{
    float: left;
    margin: 5px 0 0 5px;
    padding: 0;
    border: 1px solid #9AD9ED;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 1, 0.5);
    -moz-box-shadow:0 5px 10px rgba(0, 0, 1, 0.5);
    box-shadow:0 5px 10px rgba(0, 0, 1, 0.5);
}
.music-box{
    float: left;
}
.music-icon{
    background: transparent url('../images/music-icon.png') no-repeat;
    width: 13px;
    height: 15px;
    float: left;
}

.video-icon{
    background: transparent url('../images/video-icon.png') no-repeat;
    width: 13px;
    height: 12px;
    float: left;
}
.music-toal{
    margin: 0 15px 0 3px;
    color: #2d5f73;
    font-size: 11px;
    line-height: 15px;
    font-weight: bold;
    float: left;
}
.video-toal{
    margin-left: 5px;
    color: #2d5f73;
    font-size: 11px;
    line-height: 15px;
    font-weight: bold;
    float: left;
}
.unplayed-label{
    min-width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background: #f25260;
    padding: 5px;
    margin: 3px;
    color: #fff;
    box-shadow: -3px 3px 0px 0px rgba(48, 48, 48, 1);
}
.podcast-name{
    font-size: 14px;
    margin-bottom: 5px;
}
.x-list-normal .x-list-item.x-list-item-tpl, .x-list-normal .x-list-item .x-dock-horizontal{
    border-bottom: 2px solid #fff;
    border-top: none;
}